jupyterlab
pillow
numpy
opencv-contrib-python
torch
chardet
earthengine-api
keras
tensorflow
scikit-learn
kneed
tqdm
shapely
googlemaps
pandas
pyproj
geojson
geopandas
torchvision
matplotlib
ipyleaflet
folium