jupyterlab
pillow
numpy
opencv-contrib-python
torch
chardet
earthengine-api
keras
tensorflow; sys_platform=='linux'
tensorflow-macos; sys_platform=='darwin'
tensorflow-metal; sys_platform=='darwin'
scikit-learn
kneed
tqdm
shapely
googlemaps
pandas
pyproj
geojson
geopandas
torchvision
matplotlib
ipyleaflet
folium